body{
    background-color: rgb(181, 137, 211);
    text-align:center ;
    }
h1 {
color: rgb(51, 10, 51);
}
p {
    text-align: justify;
    font-size: 20px;
}
#5S {
    width: 150px;
    height: 150px;
}
#Significado {
    width: 30%;
    height: 30%;
}

}